* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header {
    background: #B0C4DE;
    color: #000000;
    padding: 40p;
    text-align: center;
}

.profile-pic {
    width: 150px; /* Atur lebar sesuai kebutuhan */
    height: 150px; /* Atur tinggi sesuai kebutuhan */
    border-radius: 50%; /* Membuat gambar berbentuk bulat */
    margin-bottom: 15px;
}

nav {
    background: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 20px 0;
}

h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #B04CDE;
}

.project {
    background: #f4f4f4;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
